params.notebooks = 'notebooks/*.qmd'

process {
    withName: 'QUARTO_RENDER_R' {
        container = 'rocker/verse:latest'
    }
    withName: 'QUARTO_RENDER_JULIA' {
        container = 'glcr.b-data.ch/jupyterlab/julia/pubtools:latest'
        containerOptions = "-e NB_UID=\$(id -u) -e NB_GID=\$(id -g) -e CHOWN_HOME=yes -e CHOWN_HOME_OPTS='-R' -p 8888:8888 -u root"
    }
}

docker.enabled = true 