params {
    quarto_config = 'assets/quarto_project_config.yml'
    notebooks = 'notebooks/*.qmd'
    outdir = 'to_publish'
}

process {
    // default container
    container = 'rocker/verse:latest'
    containerOptions = '-u $(id -u):$(id -g) -e USERID=$UID -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    stageInMode = 'copy'
    afterScript = 'rm -rf tmp'
    
    withName: 'QUARTO_RENDER_PAGE_JULIA' {
        container = 'glcr.b-data.ch/jupyterlab/julia/pubtools:latest'
        containerOptions = '-u root -e NB_UID=$(id -u) -e NB_GID=$(id -g) -e XDG_CACHE_HOME=tmp/quarto_cache_home -e XDG_DATA_HOME=tmp/quarto_data_home -e QUARTO_PRINT_STACK=true'
    }

    withName: 'QUARTO_RENDER_PROJECT' {
        publishDir = [
            path: params.outdir
        ]
    }
}

docker.enabled = true
docker.fixOwnership = true